# EDA of classification dataset

## Imports

In [88]:
import pandas as pd
import numpy as np

In [89]:
client_attrition = pd.read_csv('./../data/client_attrition_train.csv')
client_attrition_test = pd.read_csv('./../data/client_attrition_test.csv')
# encode dependant varaible as 0 and 1
client_attrition['account_status'] = client_attrition['account_status'].map(dict(closed=1, open=0))
# drop id
client_attrition.drop(labels='customer_id',axis=1,inplace=True)
client_attrition_test.drop(labels='customer_id',axis=1,inplace=True)

In [90]:
display(client_attrition)

,customer_age,customer_sex,customer_number_of_dependents,customer_education,customer_civil_status,customer_salary_range,customer_relationship_length,customer_available_credit_limit,credit_card_classification,total_products,period_inactive,contacts_in_last_year,credit_card_debt_balance,remaining_credit_limit,transaction_amount_ratio,total_transaction_amount,total_transaction_count,transaction_count_ratio,average_utilization,account_status
0,38.0,F,2,High School,Married,40-60K,31,1593.0,Blue,4,2,4,1091,502.0,0.870,4136.0,67,0.718,0.685,0
1,46.0,F,2,Graduate,Unknown,below 40K,40,6568.0,Blue,5,2,2,0,6568.0,0.101,1507.0,33,0.222,0.000,1
2,43.0,M,1,High School,Married,80-120K,30,34516.0,Silver,1,1,3,2045,32471.0,0.590,4081.0,54,0.421,0.059,0
3,46.0,F,4,High School,Married,below 40K,36,2374.0,Blue,5,2,1,1332,1042.0,0.686,4253.0,81,0.884,0.561,0
4,40.0,M,4,High School,Single,80-120K,29,12978.0,Blue,3,3,2,0,12978.0,0.628,14134.0,85,0.700,0.000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,NaN,F,2,High School,Single,40-60K,36,1677.0,Blue,2,3,1,0,1677.0,0.700,4035.0,87,0.891,0.000,0
10123,46.0,F,4,Uneducated,Single,Unknown,33,224541.0,Blue,3,3,3,1749,23200.0,0.626,4092.0,77,0.540,0.070,0
10124,44.0,M,0,High School,Single,60-80K,36,6606.0,Blue,6,3,2,2517,4089.0,0.825,4493.0,68,0.659,0.381,0
10125,39.0,F,5,Graduate,Single,below 40K,28,2077.0,Blue,3,3,2,0,2077.0,0.590,3647.0,69,0.917,0.000,0
10126,35.0,M,2,Post-Graduate,Married,40-60K,21,2256.0,Blue,3,1,3,775,1481.0,0.879,1749.0,33,0.435,0.344,0

In [91]:
display(client_attrition.isna().sum())
display(client_attrition_test.isna().sum())

customer_age                        624
customer_sex                       1018
customer_number_of_dependents         0
customer_education                    0
customer_civil_status                 0
customer_salary_range               681
customer_relationship_length          0
customer_available_credit_limit       0
credit_card_classification            0
total_products                        0
period_inactive                       0
contacts_in_last_year                 0
credit_card_debt_balance              0
remaining_credit_limit                0
transaction_amount_ratio              0
total_transaction_amount            407
total_transaction_count               0
transaction_count_ratio               0
average_utilization                   0
account_status                        0
dtype: int64

customer_age                       294
customer_sex                       472
customer_number_of_dependents        0
customer_education                   0
customer_civil_status                0
customer_salary_range              331
customer_relationship_length         0
customer_available_credit_limit      0
credit_card_classification           0
total_products                       0
period_inactive                      0
contacts_in_last_year                0
credit_card_debt_balance             0
remaining_credit_limit               0
transaction_amount_ratio             0
total_transaction_amount           186
total_transaction_count              0
transaction_count_ratio              0
average_utilization                  0
dtype: int64

In [93]:
# non-numeric columns
print(client_attrition.select_dtypes(include = ['object']).columns)
for col in client_attrition.select_dtypes(include = ['object']).columns:
    print(col)
    print(client_attrition[col].unique())
# OneHotEncoding of not missing columns
client_attrition = pd.get_dummies(client_attrition, columns=['customer_education', 'customer_civil_status','credit_card_classification'])
client_attrition_test = pd.get_dummies(client_attrition_test, columns=['customer_education', 'customer_civil_status','credit_card_classification'])
print(client_attrition.columns)
print(client_attrition_test.columns)

Index(['customer_sex', 'customer_education', 'customer_civil_status',
       'customer_salary_range', 'credit_card_classification'],
      dtype='object')
customer_sex
['F' 'M' nan]
customer_education
['High School' 'Graduate' 'Uneducated' 'Unknown' 'College' 'Post-Graduate'
 'Doctorate']
customer_civil_status
['Married' 'Unknown' 'Single' 'Divorced']
customer_salary_range
['40-60K' 'below 40K' '80-120K' 'Unknown' '60-80K' nan '120K and more']
credit_card_classification
['Blue' 'Silver' 'Gold' 'Platinum']
Index(['customer_age', 'customer_sex', 'customer_number_of_dependents',
       'customer_salary_range', 'customer_relationship_length',
       'customer_available_credit_limit', 'total_products', 'period_inactive',
       'contacts_in_last_year', 'credit_card_debt_balance',
       'remaining_credit_limit', 'transaction_amount_ratio',
       'total_transaction_amount', 'total_transaction_count',
       'transaction_count_ratio', 'average_utilization', 'account_status',
       'customer_education_College', 'customer_education_Doctorate',
       'customer_education_Graduate', 'customer_education_High School',
       'customer_education_Post-Graduate', 'customer_education_Uneducated',
       'customer_education_Unknown', 'customer_civil_status_Divorced',
       'customer_civil_status_Married', 'customer_civil_status_Single',
       'customer_civil_status_Unknown', 'credit_card_classification_Blue',
       'credit_card_classification_Gold',
       'credit_card_classification_Platinum',
       'credit_card_classification_Silver'],
      dtype='object')
Index(['customer_age', 'customer_sex', 'customer_number_of_dependents',
       'customer_salary_range', 'customer_relationship_length',
       'customer_available_credit_limit', 'total_products', 'period_inactive',
       'contacts_in_last_year', 'credit_card_debt_balance',
       'remaining_credit_limit', 'transaction_amount_ratio',
       'total_transaction_amount', 'total_transaction_count',
       'transaction_count_ratio', 'average_utilization',
       'customer_education_College', 'customer_education_Doctorate',
       'customer_education_Graduate', 'customer_education_High School',
       'customer_education_Post-Graduate', 'customer_education_Uneducated',
       'customer_education_Unknown', 'customer_civil_status_Divorced',
       'customer_civil_status_Married', 'customer_civil_status_Single',
       'customer_civil_status_Unknown', 'credit_card_classification_Blue',
       'credit_card_classification_Gold', 'credit_card_classification_Silver'],
      dtype='object')

Test set doesn't have Platinum level so we need to add a column Platinum with zeros for test set

In [103]:
client_attrition_test['credit_card_classification_Platinum'] = 0

In [101]:
# select numeric columns
numeric_columns = list(client_attrition.select_dtypes(exclude = ['object']).columns)
numeric_columns_test = list(client_attrition_test.select_dtypes(exclude = ['object']).columns)
print(len(numeric_columns),numeric_columns)
print(len(numeric_columns_test),numeric_columns_test)

30 ['customer_age', 'customer_number_of_dependents', 'customer_relationship_length', 'customer_available_credit_limit', 'total_products', 'period_inactive', 'contacts_in_last_year', 'credit_card_debt_balance', 'remaining_credit_limit', 'transaction_amount_ratio', 'total_transaction_amount', 'total_transaction_count', 'transaction_count_ratio', 'average_utilization', 'account_status', 'customer_education_College', 'customer_education_Doctorate', 'customer_education_Graduate', 'customer_education_High School', 'customer_education_Post-Graduate', 'customer_education_Uneducated', 'customer_education_Unknown', 'customer_civil_status_Divorced', 'customer_civil_status_Married', 'customer_civil_status_Single', 'customer_civil_status_Unknown', 'credit_card_classification_Blue', 'credit_card_classification_Gold', 'credit_card_classification_Platinum', 'credit_card_classification_Silver']
29 ['customer_age', 'customer_number_of_dependents', 'customer_relationship_length', 'customer_available_credit_limit', 'total_products', 'period_inactive', 'contacts_in_last_year', 'credit_card_debt_balance', 'remaining_credit_limit', 'transaction_amount_ratio', 'total_transaction_amount', 'total_transaction_count', 'transaction_count_ratio', 'average_utilization', 'customer_education_College', 'customer_education_Doctorate', 'customer_education_Graduate', 'customer_education_High School', 'customer_education_Post-Graduate', 'customer_education_Uneducated', 'customer_education_Unknown', 'customer_civil_status_Divorced', 'customer_civil_status_Married', 'customer_civil_status_Single', 'customer_civil_status_Unknown', 'credit_card_classification_Blue', 'credit_card_classification_Gold', 'credit_card_classification_Silver', 'credit_card_classification_Platinum']

## Missing Data Imputation

### Test set

We are using knn for data imputation.

categorical variables -- majority voting

continous variables -- average

In [11]:
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler

In [104]:
# scaling before imputation
client_attrition_scaled = (client_attrition[numeric_columns]-client_attrition[numeric_columns].mean())/client_attrition[numeric_columns].std()
client_attrition_scaled['customer_sex'] = client_attrition['customer_sex']
client_attrition_scaled['customer_salary_range'] = client_attrition['customer_salary_range']
# test
client_attrition_test_scaled = (client_attrition_test[numeric_columns_test]-client_attrition_test[numeric_columns_test].mean())/client_attrition_test[numeric_columns_test].std()
client_attrition_test_scaled['credit_card_classification_Platinum'] = 0
client_attrition_test_scaled['customer_sex'] = client_attrition_test['customer_sex']
client_attrition_test_scaled['customer_salary_range'] = client_attrition_test['customer_salary_range']
display(client_attrition_scaled)
display(client_attrition_test_scaled)

,customer_age,customer_number_of_dependents,customer_relationship_length,customer_available_credit_limit,total_products,period_inactive,contacts_in_last_year,credit_card_debt_balance,remaining_credit_limit,transaction_amount_ratio,...,customer_civil_status_Divorced,customer_civil_status_Married,customer_civil_status_Single,customer_civil_status_Unknown,credit_card_classification_Blue,credit_card_classification_Gold,credit_card_classification_Platinum,credit_card_classification_Silver,customer_sex,customer_salary_range
0,-1.039578,-0.266534,-0.617099,-0.478927,-0.046279,-0.337581,1.396355,-0.088117,-0.766404,0.502080,...,-0.282391,1.077285,-0.798467,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,F,40-60K
1,-0.039731,-0.266534,0.509814,-0.196733,0.267843,-0.337581,-0.411596,-1.426788,-0.099128,-3.006023,...,-0.282391,-0.928168,-0.798467,3.538285,0.270597,-0.107639,-0.044482,-0.240782,F,below 40K
2,-0.414674,-1.036411,-0.742312,1.388546,-0.988645,-1.327071,0.492379,1.082454,2.750272,-0.775253,...,-0.282391,1.077285,-0.798467,-0.282595,-3.695162,-0.107639,-0.044482,4.152727,M,80-120K
3,-0.039731,1.273221,0.008964,-0.434627,0.267843,-0.337581,-1.315571,0.207593,-0.707003,-0.337310,...,-0.282391,1.077285,-0.798467,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,F,below 40K
4,-0.789616,1.273221,-0.867524,0.166858,-0.360401,0.651908,-0.411596,-1.426788,0.605990,-0.601900,...,-0.282391,-0.928168,1.252276,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,M,80-120K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,NaN,-0.266534,0.008964,-0.474162,-0.674523,0.651908,-1.315571,-1.426788,-0.637151,-0.273443,...,-0.282391,-0.928168,1.252276,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,F,40-60K
10123,-0.039731,1.273221,-0.366674,12.167227,-0.360401,0.651908,0.492379,0.719258,1.730437,-0.611024,...,-0.282391,-0.928168,1.252276,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,F,Unknown
10124,-0.289693,-1.806289,0.008964,-0.194577,0.581965,0.651908,-0.411596,1.661604,-0.371825,0.296794,...,-0.282391,-0.928168,1.252276,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,M,60-80K
10125,-0.914597,2.043098,-0.992737,-0.451473,-0.360401,0.651908,-0.411596,-1.426788,-0.593150,-0.775253,...,-0.282391,-0.928168,1.252276,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,F,below 40K
10126,-1.414520,-0.266534,-1.869225,-0.441320,-0.360401,-1.327071,0.492379,-0.475853,-0.658712,0.543137,...,-0.282391,1.077285,-0.798467,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,M,40-60K

,customer_age,customer_number_of_dependents,customer_relationship_length,customer_available_credit_limit,total_products,period_inactive,contacts_in_last_year,credit_card_debt_balance,remaining_credit_limit,transaction_amount_ratio,...,customer_civil_status_Divorced,customer_civil_status_Married,customer_civil_status_Single,customer_civil_status_Unknown,credit_card_classification_Blue,credit_card_classification_Gold,credit_card_classification_Silver,credit_card_classification_Platinum,customer_sex,customer_salary_range
0,-0.150642,0.045812,0.511106,1.398608,-0.654953,0.006554,-1.193557,0.671015,3.108637,-0.123036,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,M,Unknown
1,0.459863,0.045812,0.511106,-0.204392,-0.011855,-1.222534,-0.098814,-1.014390,-0.165638,-0.846005,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,M,60-80K
2,0.917742,0.045812,-0.089121,-0.455260,-0.440587,-1.222534,-0.098814,-0.232091,-0.770643,-0.255002,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,F,below 40K
3,-0.303268,-0.897055,0.511106,-0.382366,0.416877,-1.222534,-0.098814,0.330693,-0.664686,-0.274259,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,F,below 40K
4,0.154610,0.045812,-0.839406,0.859301,0.416877,0.006554,-0.098814,0.782982,1.946893,-0.086993,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,M,below 40K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5058,-1.371652,-0.897055,-1.589691,-0.014778,0.202511,0.006554,-0.098814,0.774143,0.081023,2.765707,...,6.837757,-1.093316,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,F,below 40K
5059,-1.524278,0.045812,-1.439634,0.200640,-0.226221,-1.222534,-0.098814,-0.556207,0.658763,-0.873264,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,F,NaN
5060,NaN,0.988679,-1.739748,-0.419159,-0.226221,1.235643,-0.098814,-1.120464,-0.614906,0.125297,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,F,below 40K
5061,0.154610,0.988679,0.060936,0.584791,-0.011855,-1.222534,-1.193557,-0.638710,1.486441,2.755250,...,-0.146218,-1.093316,1.192078,-0.148317,0.08099,-0.014054,-0.079745,0,M,80-120K
5062,-0.913773,0.045812,-1.139520,-0.293933,-0.440587,-1.222534,-0.098814,0.136223,-0.458654,0.298438,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,M,below 40K

In [114]:
# we need to map columns which are 
client_attrition_scaled['customer_sex'] = client_attrition_scaled['customer_sex'].map(dict(F=1, M=0))
display(client_attrition_scaled[client_attrition_scaled['customer_age']==None])

Empty DataFrame
Columns: [customer_age, customer_number_of_dependents, customer_relationship_length, customer_available_credit_limit, total_products, period_inactive, contacts_in_last_year, credit_card_debt_balance, remaining_credit_limit, transaction_amount_ratio, total_transaction_amount, total_transaction_count, transaction_count_ratio, average_utilization, account_status, customer_education_College, customer_education_Doctorate, customer_education_Graduate, customer_education_High School, customer_education_Post-Graduate, customer_education_Uneducated, customer_education_Unknown, customer_civil_status_Divorced, customer_civil_status_Married, customer_civil_status_Single, customer_civil_status_Unknown, credit_card_classification_Blue, credit_card_classification_Gold, credit_card_classification_Platinum, credit_card_classification_Silver, customer_sex, customer_salary_range]
Index: []

[0 rows x 32 columns]

In [105]:
KNNImputer(n_neighbors=15).fit_transform(client_attrition_test_scaled)
display(client_attrition_test_scaled)

ValueError: could not convert string to float: 'M'