# EDA of classification dataset

## Imports

In [314]:
import pandas as pd
import numpy as np

In [315]:
client_attrition = pd.read_csv('./../data/client_attrition_train.csv')
client_attrition_test = pd.read_csv('./../data/client_attrition_test.csv')
# encode dependant varaible as 0 and 1
client_attrition['account_status'] = client_attrition['account_status'].map(dict(closed=1, open=0))
y_train = client_attrition['account_status']
client_attrition.drop('account_status',axis=1,inplace=True)
# drop id
client_attrition.drop(labels='customer_id',axis=1,inplace=True)
client_attrition_test.drop(labels='customer_id',axis=1,inplace=True)

In [316]:
print(client_attrition.info())
client_attrition_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   customer_age                     9503 non-null   float64
 1   customer_sex                     9109 non-null   object
 2   customer_number_of_dependents    10127 non-null  int64
 3   customer_education               10127 non-null  object
 4   customer_civil_status            10127 non-null  object
 5   customer_salary_range            9446 non-null   object
 6   customer_relationship_length     10127 non-null  int64
 7   customer_available_credit_limit  10127 non-null  float64
 8   credit_card_classification       10127 non-null  object
 9   total_products                   10127 non-null  int64
 10  period_inactive                  10127 non-null  int64
 11  contacts_in_last_year            10127 non-null  int64
 12  credit_card_debt_balance         10127 non-null  int64
 13  remaining_credit_limit           10127 non-null  float64
 14  transaction_amount_ratio         10127 non-null  float64
 15  total_transaction_amount         9720 non-null   float64
 16  total_transaction_count          10127 non-null  int64
 17  transaction_count_ratio          10127 non-null  float64
 18  average_utilization              10127 non-null  float64
dtypes: float64(7), int64(7), object(5)
memory usage: 1.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5063 entries, 0 to 5062
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   customer_age                     4769 non-null   float64
 1   customer_sex                     4591 non-null   object
 2   customer_number_of_dependents    5063 non-null   int64
 3   customer_education               5063 non-null   object
 4   customer_civil_status            5063 non-null   object
 5   customer_salary_range            4732 non-null   object
 6   customer_relationship_length     5063 non-null   int64
 7   customer_available_credit_limit  5063 non-null   float64
 8   credit_card_classification       5063 non-null   object
 9   total_products                   5063 non-null   int64
 10  period_inactive                  5063 non-null   int64
 11  contacts_in_last_year            5063 non-null   int64
 12  credit_card_debt_balance         5063 non-null   int64
 13  remaining_credit_limit           5063 non-null   float64
 14  transaction_amount_ratio         5063 non-null   float64
 15  total_transaction_amount         4877 non-null   float64
 16  total_transaction_count          5063 non-null   int64
 17  transaction_count_ratio          5063 non-null   float64
 18  average_utilization              5063 non-null   float64
dtypes: float64(7), int64(7), object(5)
memory usage: 751.7+ KB

In [317]:
display(client_attrition)
display(client_attrition_test)
display(y_train)

,customer_age,customer_sex,customer_number_of_dependents,customer_education,customer_civil_status,customer_salary_range,customer_relationship_length,customer_available_credit_limit,credit_card_classification,total_products,period_inactive,contacts_in_last_year,credit_card_debt_balance,remaining_credit_limit,transaction_amount_ratio,total_transaction_amount,total_transaction_count,transaction_count_ratio,average_utilization
0,38.0,F,2,High School,Married,40-60K,31,1593.0,Blue,4,2,4,1091,502.0,0.870,4136.0,67,0.718,0.685
1,46.0,F,2,Graduate,Unknown,below 40K,40,6568.0,Blue,5,2,2,0,6568.0,0.101,1507.0,33,0.222,0.000
2,43.0,M,1,High School,Married,80-120K,30,34516.0,Silver,1,1,3,2045,32471.0,0.590,4081.0,54,0.421,0.059
3,46.0,F,4,High School,Married,below 40K,36,2374.0,Blue,5,2,1,1332,1042.0,0.686,4253.0,81,0.884,0.561
4,40.0,M,4,High School,Single,80-120K,29,12978.0,Blue,3,3,2,0,12978.0,0.628,14134.0,85,0.700,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,NaN,F,2,High School,Single,40-60K,36,1677.0,Blue,2,3,1,0,1677.0,0.700,4035.0,87,0.891,0.000
10123,46.0,F,4,Uneducated,Single,Unknown,33,224541.0,Blue,3,3,3,1749,23200.0,0.626,4092.0,77,0.540,0.070
10124,44.0,M,0,High School,Single,60-80K,36,6606.0,Blue,6,3,2,2517,4089.0,0.825,4493.0,68,0.659,0.381
10125,39.0,F,5,Graduate,Single,below 40K,28,2077.0,Blue,3,3,2,0,2077.0,0.590,3647.0,69,0.917,0.000
10126,35.0,M,2,Post-Graduate,Married,40-60K,21,2256.0,Blue,3,1,3,775,1481.0,0.879,1749.0,33,0.435,0.344

,customer_age,customer_sex,customer_number_of_dependents,customer_education,customer_civil_status,customer_salary_range,customer_relationship_length,customer_available_credit_limit,credit_card_classification,total_products,period_inactive,contacts_in_last_year,credit_card_debt_balance,remaining_credit_limit,transaction_amount_ratio,total_transaction_amount,total_transaction_count,transaction_count_ratio,average_utilization
0,45.0,M,2,College,Married,Unknown,39,32305.283754,Blue,1,2,1,1616,30689.223984,0.734434,7129.0,84,0.622710,0.053034
1,49.0,M,2,High School,Married,60-80K,39,6034.217130,Blue,4,1,2,472,5562.147684,0.601163,2449.0,54,0.755622,0.050136
2,52.0,F,2,Uneducated,Married,below 40K,35,1922.816349,Blue,2,1,2,1003,919.282441,0.710107,33472.0,77,0.853080,0.526542
3,44.0,F,1,Graduate,Married,below 40K,39,3117.457937,Blue,6,1,2,1385,1732.406928,0.706558,4606.0,77,0.535171,0.468406
4,47.0,M,2,Graduate,Married,below 40K,30,23466.755802,Blue,6,2,2,1692,21773.897252,0.741078,3603.0,71,0.735060,0.071246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5058,37.0,F,1,Unknown,Divorced,below 40K,25,9141.737797,Blue,5,2,2,1686,7455.039365,1.266940,3286.0,66,0.703972,0.290782
5059,36.0,F,2,Uneducated,Married,NaN,26,12672.168375,Blue,3,1,2,783,11888.672027,0.596138,1911.0,34,0.633807,0.060446
5060,NaN,F,3,High School,Married,below 40K,24,2514.461410,Blue,3,3,2,400,2114.421868,0.780211,3237.0,65,0.571778,0.182558
5061,47.0,M,3,Graduate,Single,80-120K,36,18967.893405,Blue,4,1,1,727,18240.346100,1.265013,1255.0,57,0.365349,0.040925
5062,40.0,M,2,Uneducated,Married,below 40K,28,4566.765743,Blue,2,1,2,1253,3313.510659,0.812128,2246.0,49,0.436808,0.274397

0        0
1        1
2        0
3        0
4        0
        ..
10122    0
10123    0
10124    0
10125    0
10126    0
Name: account_status, Length: 10127, dtype: int64

In [318]:
display(client_attrition.isna().sum())
display(client_attrition_test.isna().sum())

customer_age                        624
customer_sex                       1018
customer_number_of_dependents         0
customer_education                    0
customer_civil_status                 0
customer_salary_range               681
customer_relationship_length          0
customer_available_credit_limit       0
credit_card_classification            0
total_products                        0
period_inactive                       0
contacts_in_last_year                 0
credit_card_debt_balance              0
remaining_credit_limit                0
transaction_amount_ratio              0
total_transaction_amount            407
total_transaction_count               0
transaction_count_ratio               0
average_utilization                   0
dtype: int64

customer_age                       294
customer_sex                       472
customer_number_of_dependents        0
customer_education                   0
customer_civil_status                0
customer_salary_range              331
customer_relationship_length         0
customer_available_credit_limit      0
credit_card_classification           0
total_products                       0
period_inactive                      0
contacts_in_last_year                0
credit_card_debt_balance             0
remaining_credit_limit               0
transaction_amount_ratio             0
total_transaction_amount           186
total_transaction_count              0
transaction_count_ratio              0
average_utilization                  0
dtype: int64

In [319]:
# non-numeric columns
print(client_attrition.select_dtypes(include = ['object']).columns)
for col in client_attrition.select_dtypes(include = ['object']).columns:
    print(col)
    print(client_attrition[col].unique())
# OneHotEncoding of not missing columns
client_attrition = pd.get_dummies(client_attrition, columns=['customer_education', 'customer_civil_status','credit_card_classification'])
client_attrition_test = pd.get_dummies(client_attrition_test, columns=['customer_education', 'customer_civil_status','credit_card_classification'])
print(client_attrition.columns)
print(client_attrition_test.columns)

Index(['customer_sex', 'customer_education', 'customer_civil_status',
       'customer_salary_range', 'credit_card_classification'],
      dtype='object')
customer_sex
['F' 'M' nan]
customer_education
['High School' 'Graduate' 'Uneducated' 'Unknown' 'College' 'Post-Graduate'
 'Doctorate']
customer_civil_status
['Married' 'Unknown' 'Single' 'Divorced']
customer_salary_range
['40-60K' 'below 40K' '80-120K' 'Unknown' '60-80K' nan '120K and more']
credit_card_classification
['Blue' 'Silver' 'Gold' 'Platinum']
Index(['customer_age', 'customer_sex', 'customer_number_of_dependents',
       'customer_salary_range', 'customer_relationship_length',
       'customer_available_credit_limit', 'total_products', 'period_inactive',
       'contacts_in_last_year', 'credit_card_debt_balance',
       'remaining_credit_limit', 'transaction_amount_ratio',
       'total_transaction_amount', 'total_transaction_count',
       'transaction_count_ratio', 'average_utilization',
       'customer_education_College', 'customer_education_Doctorate',
       'customer_education_Graduate', 'customer_education_High School',
       'customer_education_Post-Graduate', 'customer_education_Uneducated',
       'customer_education_Unknown', 'customer_civil_status_Divorced',
       'customer_civil_status_Married', 'customer_civil_status_Single',
       'customer_civil_status_Unknown', 'credit_card_classification_Blue',
       'credit_card_classification_Gold',
       'credit_card_classification_Platinum',
       'credit_card_classification_Silver'],
      dtype='object')
Index(['customer_age', 'customer_sex', 'customer_number_of_dependents',
       'customer_salary_range', 'customer_relationship_length',
       'customer_available_credit_limit', 'total_products', 'period_inactive',
       'contacts_in_last_year', 'credit_card_debt_balance',
       'remaining_credit_limit', 'transaction_amount_ratio',
       'total_transaction_amount', 'total_transaction_count',
       'transaction_count_ratio', 'average_utilization',
       'customer_education_College', 'customer_education_Doctorate',
       'customer_education_Graduate', 'customer_education_High School',
       'customer_education_Post-Graduate', 'customer_education_Uneducated',
       'customer_education_Unknown', 'customer_civil_status_Divorced',
       'customer_civil_status_Married', 'customer_civil_status_Single',
       'customer_civil_status_Unknown', 'credit_card_classification_Blue',
       'credit_card_classification_Gold', 'credit_card_classification_Silver'],
      dtype='object')

Test set doesn't have Platinum level so we need to add a column Platinum with zeros for test set

In [320]:
client_attrition_test['credit_card_classification_Platinum'] = 0

In [321]:
# select numeric columns
numeric_columns = list(client_attrition.select_dtypes(exclude = ['object']).columns)
numeric_columns_test = list(client_attrition_test.select_dtypes(exclude = ['object']).columns)
print(len(numeric_columns),numeric_columns)
print(len(numeric_columns_test),numeric_columns_test)

29 ['customer_age', 'customer_number_of_dependents', 'customer_relationship_length', 'customer_available_credit_limit', 'total_products', 'period_inactive', 'contacts_in_last_year', 'credit_card_debt_balance', 'remaining_credit_limit', 'transaction_amount_ratio', 'total_transaction_amount', 'total_transaction_count', 'transaction_count_ratio', 'average_utilization', 'customer_education_College', 'customer_education_Doctorate', 'customer_education_Graduate', 'customer_education_High School', 'customer_education_Post-Graduate', 'customer_education_Uneducated', 'customer_education_Unknown', 'customer_civil_status_Divorced', 'customer_civil_status_Married', 'customer_civil_status_Single', 'customer_civil_status_Unknown', 'credit_card_classification_Blue', 'credit_card_classification_Gold', 'credit_card_classification_Platinum', 'credit_card_classification_Silver']
29 ['customer_age', 'customer_number_of_dependents', 'customer_relationship_length', 'customer_available_credit_limit', 'total_products', 'period_inactive', 'contacts_in_last_year', 'credit_card_debt_balance', 'remaining_credit_limit', 'transaction_amount_ratio', 'total_transaction_amount', 'total_transaction_count', 'transaction_count_ratio', 'average_utilization', 'customer_education_College', 'customer_education_Doctorate', 'customer_education_Graduate', 'customer_education_High School', 'customer_education_Post-Graduate', 'customer_education_Uneducated', 'customer_education_Unknown', 'customer_civil_status_Divorced', 'customer_civil_status_Married', 'customer_civil_status_Single', 'customer_civil_status_Unknown', 'credit_card_classification_Blue', 'credit_card_classification_Gold', 'credit_card_classification_Silver', 'credit_card_classification_Platinum']

In [322]:
# select categorical columns
categorical_columns = list(client_attrition.select_dtypes(include = ['object']).columns)
categorical_columns_test = list(client_attrition_test.select_dtypes(include = ['object']).columns)
print(len(categorical_columns),categorical_columns)
print(len(categorical_columns_test),categorical_columns_test)

2 ['customer_sex', 'customer_salary_range']
2 ['customer_sex', 'customer_salary_range']

## Missing Data Imputation

### Test set

We are using knn for data imputation.

categorical variables -- majority voting

continous variables -- average

In [323]:
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler
# explicitly require this experimental feature
from sklearn.experimental import enable_iterative_imputer  # noqa
# now you can import normally from sklearn.impute
from sklearn.impute import IterativeImputer
from sklearn.ensemble import ExtraTreesRegressor
#from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import OrdinalEncoder

In [324]:
# scaling before imputation
client_attrition_scaled = (client_attrition[numeric_columns]-client_attrition[numeric_columns].mean())/client_attrition[numeric_columns].std()
client_attrition_scaled['customer_sex'] = client_attrition['customer_sex']
client_attrition_scaled['customer_salary_range'] = client_attrition['customer_salary_range']
# test
client_attrition_test_scaled = (client_attrition_test[numeric_columns_test]-client_attrition_test[numeric_columns_test].mean())/client_attrition_test[numeric_columns_test].std()
client_attrition_test_scaled['credit_card_classification_Platinum'] = 0
client_attrition_test_scaled['customer_sex'] = client_attrition_test['customer_sex']
client_attrition_test_scaled['customer_salary_range'] = client_attrition_test['customer_salary_range']
display(client_attrition_scaled)
display(client_attrition_test_scaled)

,customer_age,customer_number_of_dependents,customer_relationship_length,customer_available_credit_limit,total_products,period_inactive,contacts_in_last_year,credit_card_debt_balance,remaining_credit_limit,transaction_amount_ratio,...,customer_civil_status_Divorced,customer_civil_status_Married,customer_civil_status_Single,customer_civil_status_Unknown,credit_card_classification_Blue,credit_card_classification_Gold,credit_card_classification_Platinum,credit_card_classification_Silver,customer_sex,customer_salary_range
0,-1.039578,-0.266534,-0.617099,-0.478927,-0.046279,-0.337581,1.396355,-0.088117,-0.766404,0.502080,...,-0.282391,1.077285,-0.798467,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,F,40-60K
1,-0.039731,-0.266534,0.509814,-0.196733,0.267843,-0.337581,-0.411596,-1.426788,-0.099128,-3.006023,...,-0.282391,-0.928168,-0.798467,3.538285,0.270597,-0.107639,-0.044482,-0.240782,F,below 40K
2,-0.414674,-1.036411,-0.742312,1.388546,-0.988645,-1.327071,0.492379,1.082454,2.750272,-0.775253,...,-0.282391,1.077285,-0.798467,-0.282595,-3.695162,-0.107639,-0.044482,4.152727,M,80-120K
3,-0.039731,1.273221,0.008964,-0.434627,0.267843,-0.337581,-1.315571,0.207593,-0.707003,-0.337310,...,-0.282391,1.077285,-0.798467,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,F,below 40K
4,-0.789616,1.273221,-0.867524,0.166858,-0.360401,0.651908,-0.411596,-1.426788,0.605990,-0.601900,...,-0.282391,-0.928168,1.252276,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,M,80-120K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,NaN,-0.266534,0.008964,-0.474162,-0.674523,0.651908,-1.315571,-1.426788,-0.637151,-0.273443,...,-0.282391,-0.928168,1.252276,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,F,40-60K
10123,-0.039731,1.273221,-0.366674,12.167227,-0.360401,0.651908,0.492379,0.719258,1.730437,-0.611024,...,-0.282391,-0.928168,1.252276,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,F,Unknown
10124,-0.289693,-1.806289,0.008964,-0.194577,0.581965,0.651908,-0.411596,1.661604,-0.371825,0.296794,...,-0.282391,-0.928168,1.252276,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,M,60-80K
10125,-0.914597,2.043098,-0.992737,-0.451473,-0.360401,0.651908,-0.411596,-1.426788,-0.593150,-0.775253,...,-0.282391,-0.928168,1.252276,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,F,below 40K
10126,-1.414520,-0.266534,-1.869225,-0.441320,-0.360401,-1.327071,0.492379,-0.475853,-0.658712,0.543137,...,-0.282391,1.077285,-0.798467,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,M,40-60K

,customer_age,customer_number_of_dependents,customer_relationship_length,customer_available_credit_limit,total_products,period_inactive,contacts_in_last_year,credit_card_debt_balance,remaining_credit_limit,transaction_amount_ratio,...,customer_civil_status_Divorced,customer_civil_status_Married,customer_civil_status_Single,customer_civil_status_Unknown,credit_card_classification_Blue,credit_card_classification_Gold,credit_card_classification_Silver,credit_card_classification_Platinum,customer_sex,customer_salary_range
0,-0.150642,0.045812,0.511106,1.398608,-0.654953,0.006554,-1.193557,0.671015,3.108637,-0.123036,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,M,Unknown
1,0.459863,0.045812,0.511106,-0.204392,-0.011855,-1.222534,-0.098814,-1.014390,-0.165638,-0.846005,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,M,60-80K
2,0.917742,0.045812,-0.089121,-0.455260,-0.440587,-1.222534,-0.098814,-0.232091,-0.770643,-0.255002,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,F,below 40K
3,-0.303268,-0.897055,0.511106,-0.382366,0.416877,-1.222534,-0.098814,0.330693,-0.664686,-0.274259,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,F,below 40K
4,0.154610,0.045812,-0.839406,0.859301,0.416877,0.006554,-0.098814,0.782982,1.946893,-0.086993,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,M,below 40K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5058,-1.371652,-0.897055,-1.589691,-0.014778,0.202511,0.006554,-0.098814,0.774143,0.081023,2.765707,...,6.837757,-1.093316,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,F,below 40K
5059,-1.524278,0.045812,-1.439634,0.200640,-0.226221,-1.222534,-0.098814,-0.556207,0.658763,-0.873264,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,F,NaN
5060,NaN,0.988679,-1.739748,-0.419159,-0.226221,1.235643,-0.098814,-1.120464,-0.614906,0.125297,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,F,below 40K
5061,0.154610,0.988679,0.060936,0.584791,-0.011855,-1.222534,-1.193557,-0.638710,1.486441,2.755250,...,-0.146218,-1.093316,1.192078,-0.148317,0.08099,-0.014054,-0.079745,0,M,80-120K
5062,-0.913773,0.045812,-1.139520,-0.293933,-0.440587,-1.222534,-0.098814,0.136223,-0.458654,0.298438,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,M,below 40K

In [325]:
# source https://github.com/Jason-M-Richards/Imputation-Techniques/blob/master/Encode_Impute_Standardize.ipynb

#instantiate both packages to use
encoder = OrdinalEncoder()
imputer = IterativeImputer(skip_complete=True,max_iter=10,verbose=2,random_state=12345)
# create a list of categorical columns to iterate over
cat_cols = categorical_columns

def encode(data):
    '''function to encode non-null data and replace it in the original data'''
    #retains only non-null values
    nonulls = np.array(data.dropna())
    #reshapes the data for encoding
    impute_reshape = nonulls.reshape(-1,1)
    #encode date
    impute_ordinal = encoder.fit_transform(impute_reshape)
    #Assign back encoded values to non-null values
    data.loc[data.notnull()] = np.squeeze(impute_ordinal)
    return data

#create a for loop to iterate through each column in the data
for columns in cat_cols:
    encode(client_attrition_scaled[columns])
    encode(client_attrition_test_scaled[columns])

C:\Users\jakub\AppData\Local\Temp\ipykernel_34636\4104894863.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[data.notnull()] = np.squeeze(impute_ordinal)
C:\Users\jakub\AppData\Local\Temp\ipykernel_34636\4104894863.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[data.notnull()] = np.squeeze(impute_ordinal)
C:\Users\jakub\AppData\Local\Temp\ipykernel_34636\4104894863.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[data.notnull()] = np.squeeze(impute_ordinal)
C:\Users\jakub\AppData\Local\Temp\ipykernel_34636\4104894863.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[data.notnull()] = np.squeeze(impute_ordinal)

In [326]:
display(client_attrition_scaled)
display(client_attrition_test_scaled)

,customer_age,customer_number_of_dependents,customer_relationship_length,customer_available_credit_limit,total_products,period_inactive,contacts_in_last_year,credit_card_debt_balance,remaining_credit_limit,transaction_amount_ratio,...,customer_civil_status_Divorced,customer_civil_status_Married,customer_civil_status_Single,customer_civil_status_Unknown,credit_card_classification_Blue,credit_card_classification_Gold,credit_card_classification_Platinum,credit_card_classification_Silver,customer_sex,customer_salary_range
0,-1.039578,-0.266534,-0.617099,-0.478927,-0.046279,-0.337581,1.396355,-0.088117,-0.766404,0.502080,...,-0.282391,1.077285,-0.798467,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,0.0,1.0
1,-0.039731,-0.266534,0.509814,-0.196733,0.267843,-0.337581,-0.411596,-1.426788,-0.099128,-3.006023,...,-0.282391,-0.928168,-0.798467,3.538285,0.270597,-0.107639,-0.044482,-0.240782,0.0,5.0
2,-0.414674,-1.036411,-0.742312,1.388546,-0.988645,-1.327071,0.492379,1.082454,2.750272,-0.775253,...,-0.282391,1.077285,-0.798467,-0.282595,-3.695162,-0.107639,-0.044482,4.152727,1.0,3.0
3,-0.039731,1.273221,0.008964,-0.434627,0.267843,-0.337581,-1.315571,0.207593,-0.707003,-0.337310,...,-0.282391,1.077285,-0.798467,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,0.0,5.0
4,-0.789616,1.273221,-0.867524,0.166858,-0.360401,0.651908,-0.411596,-1.426788,0.605990,-0.601900,...,-0.282391,-0.928168,1.252276,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,NaN,-0.266534,0.008964,-0.474162,-0.674523,0.651908,-1.315571,-1.426788,-0.637151,-0.273443,...,-0.282391,-0.928168,1.252276,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,0.0,1.0
10123,-0.039731,1.273221,-0.366674,12.167227,-0.360401,0.651908,0.492379,0.719258,1.730437,-0.611024,...,-0.282391,-0.928168,1.252276,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,0.0,4.0
10124,-0.289693,-1.806289,0.008964,-0.194577,0.581965,0.651908,-0.411596,1.661604,-0.371825,0.296794,...,-0.282391,-0.928168,1.252276,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,1.0,2.0
10125,-0.914597,2.043098,-0.992737,-0.451473,-0.360401,0.651908,-0.411596,-1.426788,-0.593150,-0.775253,...,-0.282391,-0.928168,1.252276,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,0.0,5.0
10126,-1.414520,-0.266534,-1.869225,-0.441320,-0.360401,-1.327071,0.492379,-0.475853,-0.658712,0.543137,...,-0.282391,1.077285,-0.798467,-0.282595,0.270597,-0.107639,-0.044482,-0.240782,1.0,1.0

,customer_age,customer_number_of_dependents,customer_relationship_length,customer_available_credit_limit,total_products,period_inactive,contacts_in_last_year,credit_card_debt_balance,remaining_credit_limit,transaction_amount_ratio,...,customer_civil_status_Divorced,customer_civil_status_Married,customer_civil_status_Single,customer_civil_status_Unknown,credit_card_classification_Blue,credit_card_classification_Gold,credit_card_classification_Silver,credit_card_classification_Platinum,customer_sex,customer_salary_range
0,-0.150642,0.045812,0.511106,1.398608,-0.654953,0.006554,-1.193557,0.671015,3.108637,-0.123036,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,1.0,4.0
1,0.459863,0.045812,0.511106,-0.204392,-0.011855,-1.222534,-0.098814,-1.014390,-0.165638,-0.846005,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,1.0,2.0
2,0.917742,0.045812,-0.089121,-0.455260,-0.440587,-1.222534,-0.098814,-0.232091,-0.770643,-0.255002,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,0.0,5.0
3,-0.303268,-0.897055,0.511106,-0.382366,0.416877,-1.222534,-0.098814,0.330693,-0.664686,-0.274259,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,0.0,5.0
4,0.154610,0.045812,-0.839406,0.859301,0.416877,0.006554,-0.098814,0.782982,1.946893,-0.086993,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,1.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5058,-1.371652,-0.897055,-1.589691,-0.014778,0.202511,0.006554,-0.098814,0.774143,0.081023,2.765707,...,6.837757,-1.093316,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,0.0,5.0
5059,-1.524278,0.045812,-1.439634,0.200640,-0.226221,-1.222534,-0.098814,-0.556207,0.658763,-0.873264,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,0.0,NaN
5060,NaN,0.988679,-1.739748,-0.419159,-0.226221,1.235643,-0.098814,-1.120464,-0.614906,0.125297,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,0.0,5.0
5061,0.154610,0.988679,0.060936,0.584791,-0.011855,-1.222534,-1.193557,-0.638710,1.486441,2.755250,...,-0.146218,-1.093316,1.192078,-0.148317,0.08099,-0.014054,-0.079745,0,1.0,3.0
5062,-0.913773,0.045812,-1.139520,-0.293933,-0.440587,-1.222534,-0.098814,0.136223,-0.458654,0.298438,...,-0.146218,0.914468,-0.838706,-0.148317,0.08099,-0.014054,-0.079745,0,1.0,5.0

In [327]:
# impute data and convert 
client_attrition_imputed = pd.DataFrame(imputer.fit_transform(client_attrition_scaled))
client_attrition_imputed.columns = client_attrition_scaled.columns
client_attrition_imputed[["customer_sex","customer_salary_range"]] = client_attrition_imputed[["customer_sex","customer_salary_range"]].round()
client_attrition_test_imputed = pd.DataFrame(imputer.fit_transform(client_attrition_test_scaled))
client_attrition_test_imputed.columns = client_attrition_test_scaled.columns
client_attrition_test_imputed[["customer_sex","customer_salary_range"]] = client_attrition_test_imputed[["customer_sex","customer_salary_range"]].round()

[IterativeImputer] Completing matrix with shape (10127, 31)
[IterativeImputer] Ending imputation round 1/10, elapsed time 0.17
[IterativeImputer] Change: 3.112848513312019, scaled tolerance: 0.02489482411360622
[IterativeImputer] Ending imputation round 2/10, elapsed time 0.34
[IterativeImputer] Change: 1.0348486648124977, scaled tolerance: 0.02489482411360622
[IterativeImputer] Ending imputation round 3/10, elapsed time 0.52
[IterativeImputer] Change: 0.28828216068862855, scaled tolerance: 0.02489482411360622
[IterativeImputer] Ending imputation round 4/10, elapsed time 0.74
[IterativeImputer] Change: 0.07998240242181298, scaled tolerance: 0.02489482411360622
[IterativeImputer] Ending imputation round 5/10, elapsed time 0.93
[IterativeImputer] Change: 0.022189352081924962, scaled tolerance: 0.02489482411360622
[IterativeImputer] Early stopping criterion reached.
[IterativeImputer] Completing matrix with shape (5063, 31)
[IterativeImputer] Ending imputation round 1/10, elapsed time 0.10
[IterativeImputer] Change: 2.4077439150829094, scaled tolerance: 0.07114070703550365
[IterativeImputer] Ending imputation round 2/10, elapsed time 0.21
[IterativeImputer] Change: 0.5850500650415553, scaled tolerance: 0.07114070703550365
[IterativeImputer] Ending imputation round 3/10, elapsed time 0.32
[IterativeImputer] Change: 0.09080384604186786, scaled tolerance: 0.07114070703550365
[IterativeImputer] Ending imputation round 4/10, elapsed time 0.42
[IterativeImputer] Change: 0.014075500465657309, scaled tolerance: 0.07114070703550365
[IterativeImputer] Early stopping criterion reached.

In [328]:
display(client_attrition_imputed[["customer_sex","customer_salary_range"]].loc[(client_attrition_scaled["customer_salary_range"].isna()) | (client_attrition_scaled["customer_sex"].isna())])
display(client_attrition_scaled[["customer_sex","customer_salary_range"]].loc[(client_attrition_scaled["customer_salary_range"].isna()) | (client_attrition_scaled["customer_sex"].isna())])
display(client_attrition_test_imputed[["customer_sex","customer_salary_range"]].loc[(client_attrition_test_scaled["customer_salary_range"].isna()) | (client_attrition_test_scaled["customer_sex"].isna())])
display(client_attrition_test_scaled[["customer_sex","customer_salary_range"]].loc[(client_attrition_test_scaled["customer_salary_range"].isna()) | (client_attrition_test_scaled["customer_sex"].isna())])

       customer_sex  customer_salary_range
11              1.0                    3.0
14              1.0                    2.0
15              0.0                    4.0
16              0.0                    4.0
23              0.0                    4.0
...             ...                    ...
10093           0.0                    4.0
10104           1.0                    2.0
10107           0.0                    4.0
10110           1.0                    2.0
10118           1.0                    2.0

[1623 rows x 2 columns]

      customer_sex customer_salary_range
11             NaN                   3.0
14             NaN                   2.0
15             NaN                   4.0
16             0.0                   NaN
23             0.0                   NaN
...            ...                   ...
10093          0.0                   NaN
10104          NaN                   2.0
10107          NaN                   4.0
10110          1.0                   NaN
10118          NaN                   2.0

[1623 rows x 2 columns]

      customer_sex  customer_salary_range
15             1.0                    3.0
34             1.0                    3.0
38             0.0                    5.0
55             1.0                    2.0
63             1.0                    3.0
...            ...                    ...
5042           1.0                    1.0
5044           1.0                    3.0
5053           0.0                    5.0
5055           0.0                    5.0
5059           0.0                    4.0

[771 rows x 2 columns]

     customer_sex customer_salary_range
15            1.0                   NaN
34            1.0                   NaN
38            NaN                   5.0
55            1.0                   NaN
63            1.0                   NaN
...           ...                   ...
5042          NaN                   1.0
5044          1.0                   NaN
5053          NaN                   5.0
5055          NaN                   5.0
5059          0.0                   NaN

[771 rows x 2 columns]

In [329]:
display(client_attrition_imputed.isna().sum())
display(client_attrition_test_imputed.isna().sum())

customer_age                           0
customer_number_of_dependents          0
customer_relationship_length           0
customer_available_credit_limit        0
total_products                         0
period_inactive                        0
contacts_in_last_year                  0
credit_card_debt_balance               0
remaining_credit_limit                 0
transaction_amount_ratio               0
total_transaction_amount               0
total_transaction_count                0
transaction_count_ratio                0
average_utilization                    0
customer_education_College             0
customer_education_Doctorate           0
customer_education_Graduate            0
customer_education_High School         0
customer_education_Post-Graduate       0
customer_education_Uneducated          0
customer_education_Unknown             0
customer_civil_status_Divorced         0
customer_civil_status_Married          0
customer_civil_status_Single           0
customer_civil_status_Unknown          0
credit_card_classification_Blue        0
credit_card_classification_Gold        0
credit_card_classification_Platinum    0
credit_card_classification_Silver      0
customer_sex                           0
customer_salary_range                  0
dtype: int64

customer_age                           0
customer_number_of_dependents          0
customer_relationship_length           0
customer_available_credit_limit        0
total_products                         0
period_inactive                        0
contacts_in_last_year                  0
credit_card_debt_balance               0
remaining_credit_limit                 0
transaction_amount_ratio               0
total_transaction_amount               0
total_transaction_count                0
transaction_count_ratio                0
average_utilization                    0
customer_education_College             0
customer_education_Doctorate           0
customer_education_Graduate            0
customer_education_High School         0
customer_education_Post-Graduate       0
customer_education_Uneducated          0
customer_education_Unknown             0
customer_civil_status_Divorced         0
customer_civil_status_Married          0
customer_civil_status_Single           0
customer_civil_status_Unknown          0
credit_card_classification_Blue        0
credit_card_classification_Gold        0
credit_card_classification_Silver      0
credit_card_classification_Platinum    0
customer_sex                           0
customer_salary_range                  0
dtype: int64

Convert customer_sex and customer_salary_range to factors and then one hot encode

In [330]:
client_attrition_imputed['customer_sex'] = client_attrition_imputed['customer_sex'].astype(int).astype(str)
client_attrition_imputed['customer_sex'] = client_attrition_imputed['customer_sex'].map({'0':"F", '1':"M"})
client_attrition_imputed['customer_salary_range'] = client_attrition_imputed['customer_salary_range'].astype(int).astype(str)
client_attrition_imputed['customer_salary_range'] = client_attrition_imputed['customer_salary_range'].map({'0':"120K and more", '1':"40-60K", '2':'60-80K','3':'80-120K','4':'Uknown','5':'below 40K'})
client_attrition_test_imputed['customer_sex'] = client_attrition_test_imputed['customer_sex'].astype(int).astype(str)
client_attrition_test_imputed['customer_sex'] = client_attrition_test_imputed['customer_sex'].map({'0':"F", '1':"M"})
client_attrition_test_imputed['customer_salary_range'] = client_attrition_test_imputed['customer_salary_range'].astype(int).astype(str)
client_attrition_test_imputed['customer_salary_range'] = client_attrition_test_imputed['customer_salary_range'].map({'0':"120K and more", '1':"40-60K", '2':'60-80K','3':'80-120K','4':'Uknown','5':'below 40K'})

One Hot Encode these columns

In [ ]:
client_attrition_imputed = pd.get_dummies(client_attrition_imputed, columns=['customer_sex', 'customer_salary_range'])
client_attrition_test_imputed = pd.get_dummies(client_attrition_test_imputed, columns=['customer_sex', 'customer_salary_range'])

In [333]:
display(client_attrition_imputed)
display(client_attrition_test_imputed)

,customer_age,customer_number_of_dependents,customer_relationship_length,customer_available_credit_limit,total_products,period_inactive,contacts_in_last_year,credit_card_debt_balance,remaining_credit_limit,transaction_amount_ratio,...,credit_card_classification_Platinum,credit_card_classification_Silver,customer_sex_F,customer_sex_M,customer_salary_range_120K and more,customer_salary_range_40-60K,customer_salary_range_60-80K,customer_salary_range_80-120K,customer_salary_range_Uknown,customer_salary_range_below 40K
0,-1.039578,-0.266534,-0.617099,-0.478927,-0.046279,-0.337581,1.396355,-0.088117,-0.766404,0.502080,...,-0.044482,-0.240782,1,0,0,1,0,0,0,0
1,-0.039731,-0.266534,0.509814,-0.196733,0.267843,-0.337581,-0.411596,-1.426788,-0.099128,-3.006023,...,-0.044482,-0.240782,1,0,0,0,0,0,0,1
2,-0.414674,-1.036411,-0.742312,1.388546,-0.988645,-1.327071,0.492379,1.082454,2.750272,-0.775253,...,-0.044482,4.152727,0,1,0,0,0,1,0,0
3,-0.039731,1.273221,0.008964,-0.434627,0.267843,-0.337581,-1.315571,0.207593,-0.707003,-0.337310,...,-0.044482,-0.240782,1,0,0,0,0,0,0,1
4,-0.789616,1.273221,-0.867524,0.166858,-0.360401,0.651908,-0.411596,-1.426788,0.605990,-0.601900,...,-0.044482,-0.240782,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,0.029635,-0.266534,0.008964,-0.474162,-0.674523,0.651908,-1.315571,-1.426788,-0.637151,-0.273443,...,-0.044482,-0.240782,1,0,0,1,0,0,0,0
10123,-0.039731,1.273221,-0.366674,12.167227,-0.360401,0.651908,0.492379,0.719258,1.730437,-0.611024,...,-0.044482,-0.240782,1,0,0,0,0,0,1,0
10124,-0.289693,-1.806289,0.008964,-0.194577,0.581965,0.651908,-0.411596,1.661604,-0.371825,0.296794,...,-0.044482,-0.240782,0,1,0,0,1,0,0,0
10125,-0.914597,2.043098,-0.992737,-0.451473,-0.360401,0.651908,-0.411596,-1.426788,-0.593150,-0.775253,...,-0.044482,-0.240782,1,0,0,0,0,0,0,1
10126,-1.414520,-0.266534,-1.869225,-0.441320,-0.360401,-1.327071,0.492379,-0.475853,-0.658712,0.543137,...,-0.044482,-0.240782,0,1,0,1,0,0,0,0

,customer_age,customer_number_of_dependents,customer_relationship_length,customer_available_credit_limit,total_products,period_inactive,contacts_in_last_year,credit_card_debt_balance,remaining_credit_limit,transaction_amount_ratio,...,credit_card_classification_Silver,credit_card_classification_Platinum,customer_sex_F,customer_sex_M,customer_salary_range_120K and more,customer_salary_range_40-60K,customer_salary_range_60-80K,customer_salary_range_80-120K,customer_salary_range_Uknown,customer_salary_range_below 40K
0,-0.150642,0.045812,0.511106,1.398608,-0.654953,0.006554,-1.193557,0.671015,3.108637,-0.123036,...,-0.079745,0.0,0,1,0,0,0,0,1,0
1,0.459863,0.045812,0.511106,-0.204392,-0.011855,-1.222534,-0.098814,-1.014390,-0.165638,-0.846005,...,-0.079745,0.0,0,1,0,0,1,0,0,0
2,0.917742,0.045812,-0.089121,-0.455260,-0.440587,-1.222534,-0.098814,-0.232091,-0.770643,-0.255002,...,-0.079745,0.0,1,0,0,0,0,0,0,1
3,-0.303268,-0.897055,0.511106,-0.382366,0.416877,-1.222534,-0.098814,0.330693,-0.664686,-0.274259,...,-0.079745,0.0,1,0,0,0,0,0,0,1
4,0.154610,0.045812,-0.839406,0.859301,0.416877,0.006554,-0.098814,0.782982,1.946893,-0.086993,...,-0.079745,0.0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5058,-1.371652,-0.897055,-1.589691,-0.014778,0.202511,0.006554,-0.098814,0.774143,0.081023,2.765707,...,-0.079745,0.0,1,0,0,0,0,0,0,1
5059,-1.524278,0.045812,-1.439634,0.200640,-0.226221,-1.222534,-0.098814,-0.556207,0.658763,-0.873264,...,-0.079745,0.0,1,0,0,0,0,0,1,0
5060,-1.400265,0.988679,-1.739748,-0.419159,-0.226221,1.235643,-0.098814,-1.120464,-0.614906,0.125297,...,-0.079745,0.0,1,0,0,0,0,0,0,1
5061,0.154610,0.988679,0.060936,0.584791,-0.011855,-1.222534,-1.193557,-0.638710,1.486441,2.755250,...,-0.079745,0.0,0,1,0,0,0,1,0,0
5062,-0.913773,0.045812,-1.139520,-0.293933,-0.440587,-1.222534,-0.098814,0.136223,-0.458654,0.298438,...,-0.079745,0.0,0,1,0,0,0,0,0,1

Scale again, already scaled columns wont be affected, imputed and new columns will, all columns are now numeric

In [336]:
# scaling before imputation
client_attrition_imputed_scaled = (client_attrition_imputed-client_attrition_imputed.mean())/client_attrition_imputed.std()
# test
client_attrition_test_imputed_scaled = (client_attrition_test_imputed-client_attrition_test_imputed.mean())/client_attrition_test_imputed.std()
client_attrition_test_imputed_scaled['credit_card_classification_Platinum'] = 0
display(client_attrition_imputed_scaled)
display(client_attrition_test_imputed_scaled)

,customer_age,customer_number_of_dependents,customer_relationship_length,customer_available_credit_limit,total_products,period_inactive,contacts_in_last_year,credit_card_debt_balance,remaining_credit_limit,transaction_amount_ratio,...,credit_card_classification_Platinum,credit_card_classification_Silver,customer_sex_F,customer_sex_M,customer_salary_range_120K and more,customer_salary_range_40-60K,customer_salary_range_60-80K,customer_salary_range_80-120K,customer_salary_range_Uknown,customer_salary_range_below 40K
0,-1.052019,-0.266534,-0.617099,-0.478927,-0.046279,-0.337581,1.396355,-0.088117,-0.766404,0.502080,...,-0.044482,-0.240782,0.946010,-0.946010,-0.269334,2.251045,-0.430738,-0.413200,-0.397847,-0.699440
1,-0.040299,-0.266534,0.509814,-0.196733,0.267843,-0.337581,-0.411596,-1.426788,-0.099128,-3.006023,...,-0.044482,-0.240782,0.946010,-0.946010,-0.269334,-0.444194,-0.430738,-0.413200,-0.397847,1.429574
2,-0.419694,-1.036411,-0.742312,1.388546,-0.988645,-1.327071,0.492379,1.082454,2.750272,-0.775253,...,-0.044482,4.152727,-1.056967,1.056967,-0.269334,-0.444194,-0.430738,2.419894,-0.397847,-0.699440
3,-0.040299,1.273221,0.008964,-0.434627,0.267843,-0.337581,-1.315571,0.207593,-0.707003,-0.337310,...,-0.044482,-0.240782,0.946010,-0.946010,-0.269334,-0.444194,-0.430738,-0.413200,-0.397847,1.429574
4,-0.799089,1.273221,-0.867524,0.166858,-0.360401,0.651908,-0.411596,-1.426788,0.605990,-0.601900,...,-0.044482,-0.240782,-1.056967,1.056967,-0.269334,-0.444194,-0.430738,2.419894,-0.397847,-0.699440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,0.029892,-0.266534,0.008964,-0.474162,-0.674523,0.651908,-1.315571,-1.426788,-0.637151,-0.273443,...,-0.044482,-0.240782,0.946010,-0.946010,-0.269334,2.251045,-0.430738,-0.413200,-0.397847,-0.699440
10123,-0.040299,1.273221,-0.366674,12.167227,-0.360401,0.651908,0.492379,0.719258,1.730437,-0.611024,...,-0.044482,-0.240782,0.946010,-0.946010,-0.269334,-0.444194,-0.430738,-0.413200,2.513279,-0.699440
10124,-0.293229,-1.806289,0.008964,-0.194577,0.581965,0.651908,-0.411596,1.661604,-0.371825,0.296794,...,-0.044482,-0.240782,-1.056967,1.056967,-0.269334,-0.444194,2.321366,-0.413200,-0.397847,-0.699440
10125,-0.925554,2.043098,-0.992737,-0.451473,-0.360401,0.651908,-0.411596,-1.426788,-0.593150,-0.775253,...,-0.044482,-0.240782,0.946010,-0.946010,-0.269334,-0.444194,-0.430738,-0.413200,-0.397847,1.429574
10126,-1.431415,-0.266534,-1.869225,-0.441320,-0.360401,-1.327071,0.492379,-0.475853,-0.658712,0.543137,...,-0.044482,-0.240782,-1.056967,1.056967,-0.269334,2.251045,-0.430738,-0.413200,-0.397847,-0.699440

,customer_age,customer_number_of_dependents,customer_relationship_length,customer_available_credit_limit,total_products,period_inactive,contacts_in_last_year,credit_card_debt_balance,remaining_credit_limit,transaction_amount_ratio,...,credit_card_classification_Silver,credit_card_classification_Platinum,customer_sex_F,customer_sex_M,customer_salary_range_120K and more,customer_salary_range_40-60K,customer_salary_range_60-80K,customer_salary_range_80-120K,customer_salary_range_Uknown,customer_salary_range_below 40K
0,-0.150615,0.045812,0.511106,1.398608,-0.654953,0.006554,-1.193557,0.671015,3.108637,-0.123036,...,-0.079745,0,-1.255499,1.255499,-0.170468,-0.419896,-0.331726,-0.387128,2.952309,-0.978988
1,0.466069,0.045812,0.511106,-0.204392,-0.011855,-1.222534,-0.098814,-1.014390,-0.165638,-0.846005,...,-0.079745,0,-1.255499,1.255499,-0.170468,-0.419896,3.013945,-0.387128,-0.338651,-0.978988
2,0.928582,0.045812,-0.089121,-0.455260,-0.440587,-1.222534,-0.098814,-0.232091,-0.770643,-0.255002,...,-0.079745,0,0.796338,-0.796338,-0.170468,-0.419896,-0.331726,-0.387128,-0.338651,1.021261
3,-0.304786,-0.897055,0.511106,-0.382366,0.416877,-1.222534,-0.098814,0.330693,-0.664686,-0.274259,...,-0.079745,0,0.796338,-0.796338,-0.170468,-0.419896,-0.331726,-0.387128,-0.338651,1.021261
4,0.157727,0.045812,-0.839406,0.859301,0.416877,0.006554,-0.098814,0.782982,1.946893,-0.086993,...,-0.079745,0,-1.255499,1.255499,-0.170468,-0.419896,-0.331726,-0.387128,-0.338651,1.021261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5058,-1.383984,-0.897055,-1.589691,-0.014778,0.202511,0.006554,-0.098814,0.774143,0.081023,2.765707,...,-0.079745,0,0.796338,-0.796338,-0.170468,-0.419896,-0.331726,-0.387128,-0.338651,1.021261
5059,-1.538155,0.045812,-1.439634,0.200640,-0.226221,-1.222534,-0.098814,-0.556207,0.658763,-0.873264,...,-0.079745,0,0.796338,-0.796338,-0.170468,-0.419896,-0.331726,-0.387128,2.952309,-0.978988
5060,-1.412887,0.988679,-1.739748,-0.419159,-0.226221,1.235643,-0.098814,-1.120464,-0.614906,0.125297,...,-0.079745,0,0.796338,-0.796338,-0.170468,-0.419896,-0.331726,-0.387128,-0.338651,1.021261
5061,0.157727,0.988679,0.060936,0.584791,-0.011855,-1.222534,-1.193557,-0.638710,1.486441,2.755250,...,-0.079745,0,-1.255499,1.255499,-0.170468,-0.419896,-0.331726,2.582614,-0.338651,-0.978988
5062,-0.921470,0.045812,-1.139520,-0.293933,-0.440587,-1.222534,-0.098814,0.136223,-0.458654,0.298438,...,-0.079745,0,-1.255499,1.255499,-0.170468,-0.419896,-0.331726,-0.387128,-0.338651,1.021261

Add y_train to train set

In [ ]:
client_attrition_imputed_scaled = pd.concat([y_train, client_attrition_imputed_scaled],axis=1)

Save preprocessed data to csv

In [339]:
client_attrition_imputed_scaled.to_csv('../data/preprocessed/client_attrition_train.csv',sep=";")
client_attrition_test_imputed_scaled.to_csv('../data/preprocessed/client_attrition_test.csv',sep=";")